# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.tox/
.coverage
nosetests.xml
.cache/

# Distribution / packaging
build/
dist/
eggs/
.eggs/
sdist/
*.egg-info/
*.egg
